.body {
  flex: 0.8;
  background: #121212 linear-gradient(#121212, #121212, #1db9545c);
  color: white;
  padding: 30px;
  overflow: overlay;
  height: 100%;
}
.body__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body__search {
  flex: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  background: hsl(0deg 0% 16%);
  max-width: 300px;
  min-width: 100px;
  border-radius: 99px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  transition: 200ms ease-in-out;
  position: relative;
}
.body__SearchIcon {
  margin: 0px 10px;
  color: #808080;
}
.body__menu {
  flex: 0.1 1;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: hsl(0deg 0% 16%);
  padding: 10px;
  border-radius: 100px;
  margin-right: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
.body__search > form {
  width: 100%;
  display: flex;
  align-items: center;
}
.body__search > form > input {
  border: none;
  width: 100%;
  outline: none;
  background: hsl(0deg 0% 16%);
  color: white;
}
@media (max-width: 768px) {
  .body {
    flex: auto;
    padding: 15px;
  }
  .body__menu {
    display: flex;
  }
}
