.body {
  flex: 0.8;
  background: #121212 linear-gradient(#121212, #121212, #1db9545c);
  height: 100vh;
  color: white;
  padding: 30px;
  overflow: overlay;
  padding-bottom: 120px;
}
.body__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body h2 {
  margin: 15px 0px;
  overflow: hidden;
  white-space: nowrap;
}
.body .trackCardsContainer {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  border-radius: 10px;
}
.body__search {
  flex: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  max-width: 300px;
  min-width: 100px;
  border-radius: 99px;
  transition: width 400ms ease-in-out;
}
.body__SearchIcon {
  margin: 0px 10px;
  color: #808080;
}
.body__menu {
  flex: 0.1 1;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: hsl(0deg 0% 16%);
  padding: 10px;
  border-radius: 100px;
  margin-right: 10px;
}
.body__search > input {
  border: none;
  width: 100%;
  outline: none;
}
.body__user {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  border-radius: 99px;
  max-width: fit-content;
  margin-left: 10px;
}

.body__user > svg {
  background-color: #333333;
  margin-left: 10px;
  border-radius: 99px;
  padding: 10px;
}
.body__user > img {
  margin-left: 10px;
  border-radius: 99px;
  height: 44px;
  width: 44px;
}
.body__user > h4 {
  padding-left: 10px;
}

@media (max-width: 768px) {
  .body {
    flex: auto;
    padding: 15px;
    padding-bottom: 120px;
  }
  .body__menu {
    display: flex;
  }
}
