.footer {
  position: fixed;
  bottom: 0px;
  height: 65px;
  width: 97%;
  background-color: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.footer__left {
  flex: 0.6 1;
  display: flex;
  align-items: center;
  color: white;
  width: 50vw;
  min-width: 50vw;
}
.footer__left img {
  object-fit: contain;
  flex: 0.1 1;
  width: 60px;
  margin-right: 20px;
}
.footer__left .footer__details {
  overflow: hidden;
  white-space: nowrap;
}
.footer__left .footer__details h4 {
  margin-bottom: 5px;
}
.footer__left .footer__details p {
  font-size: small;
}
.footer__center {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}
.footer__center svg {
  color: white;
  margin: 0px 5px;
  transition: transform 100ms ease-in-out;
}
.footer__center svg:hover {
  transform: scale(1.1);
}
.footer__center .green {
  color: #1db954;
}
.footer__center .medium {
  font-size: xx-large;
}
.footer__center .main {
  font-size: xxx-large;
}
.footer__right {
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  min-width: 200px;
}
.footer__right svg {
  margin: 0px 5px;
}
.footer__right span {
  color: #1db954;
}
@media (max-width: 768px) {
  .footer__right {
    display: none;
  }
}
