.player {
}
.player_body {
  display: flex;
  height: 100vh;
}
.routes {
  flex: 0.8;
  background: #121212; /* linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1)); */
  color: white;
  overflow: overlay;
  height: calc(100% + 25px);
}

@media (max-width: 768px) {
  .routes {
    flex: auto;
  }
}
