.playlist {
  padding: 30px;
  width: 100vw;
  overflow-x: hidden
}
.playlist__cover {
  display: flex;
  align-items: flex-end;
  margin: 20px 0px;
}
.playlist__image {
  flex: 0.4 1;
  max-height: 40vh;
}
.playlist__image img {
  object-fit: contain;
}

.playlist_details {
  flex: 0.6 1;
  margin-left: 15px;
  padding: 10px 0px;
}
.playlist__title {
  font-size: xxx-large;
  font-weight: 700;
  margin-bottom: 5px;
}
.playlist__description {
  font-size: small;
}
@media (max-width: 768px) {
  .playlist {
    padding: 15px;
  }
}
