.sidebar {
  flex: 0.2;
  color: white;
  min-width: 230px;
  padding: 10px;
  background-color: #040404;
  overflow: overlay;
  transition: display 200ms ease-in-out;
}

.sidebar .sidebar__menu_close {
  position: absolute;
  display: none;
  top: 30px;
  right: 15px;
  padding: 8px;
  border-radius: 50%;
  background: hsl(0deg 0% 16%);
}

.sidebar > svg {
  margin-right: auto;
  height: 70px;
  width: 70%;
}

.sidebar > hr {
  border: 1px solid #282828;
  margin: 10px auto;
  width: 90%;
}

.sidebar_title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
    min-width: 100vw;
  }
  .sidebar .sidebar__menu_close {
    display: flex;
  }
}
