.playingLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.playingLoader span {
  position: relative;
  height: 10%;
  width: 20%;
  background: #1db954;
  margin: 0px 0.5px;
  animation: animateplayingLoader3 1000ms ease-in-out infinite;
  animation-delay: calc(200ms * var(--i));
  box-shadow: 0 0 10px #1db954;
  border-radius: 10px;
}
@keyframes animateplayingLoader3 {
  0% {
    height: 40%;
  }
  40%,
  50%,
  60% {
    height: 10%;
  }
  100% {
    height: 40%;
  }
}
