.footer {
  position: fixed;
  bottom: 0px;
  height: 65px;
  width: 98vw;
  background: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.footer_empty {
  background: #121212 linear-gradient(360deg, #121212, #121212, #1db9545c);
}
.footer__left {
  flex: 0.6 1;
  display: flex;
  align-items: center;
  color: white;
  width: 40vw;
  min-width: 40vw;
}
.footer__left img {
  object-fit: contain;
  flex: 0.1 1;
  width: 60px;
  margin-right: 20px;
}
.footer__left .footer__details {
  overflow: hidden;
}
.footer__left .footer__details h4 {
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.footer__left .footer__details p {
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer__center {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}
.footer__center svg {
  color: white;
  margin: 0px 5px;
  transition: 200ms ease-in-out;
}
.footer__center svg:hover {
  transform: scale(1.1);
}
.footer__center .green {
  color: #1db954;
}
.footer__center .medium {
  font-size: xx-large;
}
.footer__center .main {
  font-size: xxx-large;
}
.footer__right {
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  min-width: 200px;
}
.footer__right svg {
  margin: 0px 5px;
}
.footer__right span {
  color: #1db954;
}
@media (max-width: 768px) {
  .footer__right {
    display: none;
  }
  .footer__left img {
    margin-right: 10px;
  }
}
