.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.login > img {
  width: 100%;
  height: 60vh;
}

.login > a {
  padding: 20px;
  background-color: #1db954;
  border-radius: 99px;
  color: white;
  font-weight: 800;
  text-decoration: none;
}

.login > a:focus {
  outline: none;
}
