.player {
  overflow: hidden;
  background: black;
}
.player_body {
  display: flex;
  height: calc(100vh - 105px );
}
.routes {
  flex: 0.8;
  background: #121212; /* linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1)); */
  color: white;
  overflow: overlay;
}

@media (max-width: 768px) {
  .routes {
    flex: auto;
  }
}
