.Track {
  display: flex;
  align-items: center;
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: 300ms ease-in-out;
}
.Track:hover {
  background: #ffffff17;
  box-shadow: 0px 0px 5px #0000006e;
}
.Track .track_img {
  flex: 0.2 1;
  display: flex;
  justify-content: center;
  max-width: 40px;
  margin-right: 10px;
}
.Track .track_img .track_img_container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url("../../../../../Assets/images/disc.svg");
  background-size: 100% 100%;
  box-shadow: 0px 0px 10px hsl(0deg 0% 16%);
}
.Track .track_img .track_img_container > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.Track .track_name {
  flex: 0.8 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
